.animate-scroll {
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% + 8rem)); /* adjust the value as needed */
    }
  }

.is-hovering .animate-scroll{
    animation-play-state: paused;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  border-color: white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}